<%# Hattori hattori %>

<div class="hattori_container" data-detail-url="<%= hattori_path(hattori.id) %>">
  <div class="color_sample" style="background-color: #<%= hattori.hex %>;"></div>
  <%= image_tag hattori.id.to_s + ".png" %>
    
  <div>
    <p class="category"><%= hattori.category.name %> - <%= date_for_show(hattori.date) %></p>
    <p class="title"><%= hattori.title %></p>
      
    <table>
      <tr>
        <th>RGB</th><td><%= [hattori.r, hattori.g, hattori.b].join(",") %></td>
      </tr>
      <tr>
        <th>色黒度</th><td><%= hattori.dark_level.round(2) %>%</td>
      </tr>
    </table>
  </div>
</div>