<%= select :page, :order, @order_options, selected: @order.to_s %>

<%= render partial: "partials/categories", locals: {categories: @categories, active_category: nil} %>

<p><%= page_entries_info @hattoris %></p>

<%= render partial: "partials/hattori", collection: @hattoris %>

<div id="pagination_container"><%= paginate @hattoris %></div>