<%= render partial: "partials/hattori_list_control", locals: {order_options: @order_options, order: @order} %>

<%= render partial: "partials/categories", locals: {categories: @categories, active_category: nil} %>

<p><%= page_entries_info @hattoris %></p>

<%= render partial: "partials/hattori", collection: @hattoris %>

<div id="pagination_container"><%= paginate @hattoris %></div>