<p class="title"><%= @hattori.title %></p>
<p><%= fa_icon "folder", text: @hattori.category.name %></p>
<p><%= fa_icon "clock-o", text: date_for_show(@hattori.date) %></p>

<%= render partial: "partials/image_detail_itself", locals: {
  image_file_name: @hattori.id.to_s,
  description: @hattori.description,
  hex: @hattori.hex,
  color_name: @hattori.color_name,
  r: @hattori.r,
  g: @hattori.g,
  b: @hattori.b,
  h: @hattori.h,
  s: @hattori.s,
  v: @hattori.v,
  dark_level: @hattori.dark_level
} %>

<%= render partial: "partials/image_detail_similar_hattoris", locals: {
  similar_color_hattoris: @hattori.similar_color_hattoris,
  similar_dark_level_hattoris: @hattori.similar_dark_level_hattoris
} %>