<!DOCTYPE html>
<html>
<head>
  <title>色黒データベース</title>
  <%= favicon_link_tag() %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="logo">
      <%= image_tag "logo.png" %>
      <p>色黒データベース</p>
    </div>
    <div id="menu">
      <% path = request.path_info %>
      <% raw_underline_class = raw(' class="underline"') %>
      
      <p<%= (path.include?('upload') || path.include?('compare')) ? '' : raw_underline_class %>><%= link_to '服部一覧', root_path %></p>
      <p<%= path.include?('upload') ? raw_underline_class : '' %>><%= link_to '画像をアップロード', upload_path %></p>
      <p<%= path.include?('compare') ? raw_underline_class : '' %>><%= link_to '色黒比較', compare_path %></p>
    </div>
  </header>
  
  <article>
    <%= yield %>
  </article>

  <footer>
    著作権とか
  </footer>

</body>
</html>
